*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather';
}

header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: darkblue;
    color: white;
    margin-bottom: 25px;
    padding: 5px 0 0 0;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

#page-title{
    font-size: 4vw;
}

#current-day{
    font-size: 1.6rem;
    margin: 0 auto .5rem auto;
}

.search-label{
    font-weight: bold;
    font-size: 1.9rem;
    width: 100%;
    padding: 0 0 0px 5px;
    text-align: left;
    margin: 0;
}

.search-input{
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid darkgrey;
    border-radius: 10px;
}

.search-input:focus{
    outline: none;
}

.button{
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
}

.button:focus{
    outline: none;
}

.clear-btn{
    background-color: grey;
    color: white;
}

.search-btn{
    background-color: darkblue;
    color: white;
}

.city-btn{
    background-color: dodgerblue;
    color: black;
}

.block-sequence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dividing-line{
    width: 100%;
    padding: 0 0 9px 0;
    border-bottom: solid 2px darkblue;
    border-radius: 0 0 4px 4px;
}

#searched-cities {
    width: 100%;
}

.info-box-border{
    border: solid 2px darkgray;
    border-radius: 8px;
    padding: 5px 0px 0 10px;
}

.info-box-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.margin-adjust{
    margin: 0 0 0 0;
}

.margin-top{
    margin: 10px 0 15px 0px;
}

.background {
    padding: 6px 6px;
    border-radius: 15px;
}

.green{
    background-color: green;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.orange{
    background-color: orange;
    color: black
}

.red{
    background-color: red;
    color: white;
}

#forecast {
    margin: 10px 0 0 0;
}

.forecast-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.forecast-single-card {
    background-color: midnightblue;
    width: 19%;
    color: white;
    padding: 10px 10px 5px 12px;
    border-radius: 10px;
}

/* footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: darkblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
footer h4 {
    margin: 15px auto;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    color: whitesmoke;
    width: 95%;
} */

@media (min-width: 1200px){
    .container {
        max-width: 95%;
    }
}